

#container {
	width: 90vw;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-top: calc(var(--header-height) + 1em);
	column-count: 3;
}

.dash {
	width: 30vw;
	padding-top: 1em;
	position: relative;
}

.dash-display {
	width: 25vw;
	position: relative;
	display: inline-block;
}

.dash-description {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 25vw;
	margin-top: 1em;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.dash-description > span {
	width: 80%;
	font-size: 3vw;
	text-align: center;
}

.dash:hover > .dash-description {
	transition: opacity 0.5s ease;
	visibility: visible;
	opacity: 1;
}

.dash-display > img {
	width: 100%;
}

.date {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 3vw;
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	color: white;
	padding: 5px 0;
}

/* 通用 */
:root {
	--header-height: 75px;
}

body {
	overflow-x: hidden;
}