/* 适配手机 */
@media only screen and (max-width: 768px) {
	.container {
		margin-top: 40px;
		width: 90vw;
		margin-left: calc(5vw - 1em);
		margin-right: calc(5vw - 1em);
		padding-top: 0.5em;
		overflow-x: hidden;
	}

	#aside {
		width: 30vw;
		margin-top: 1em;
	}

	#main {
		width: 90vw;
	}

	/* Aside */
	#aside > img {
		width: 20vw;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 0.5em;
		float: left;
	}

	#aside > p {
		font-size: 3vw;
		line-height: 3vw;
		height: 3vw;
		overflow-wrap: anywhere;
		width: 25vw;
		padding-left: 2.5vw;
		padding-right: 2.5vw;
		float: left;
	}

	#aside > p > #address {
		display: none;
	}

	#aside-email {
		padding-bottom: 1em;
	}

	/* Main */
	#welcome {
		width: 80vw;
		padding-left: 5vw;
		padding-right: 5vw;
	}

	#publications {
		width: 80vw;
		padding-left: 5vw;
		padding-right: 5vw;
	}

	/* Welcome */
	#welcome > p {
		font-size: 0.6em;
	}

	/* Publications */
	#pub-index {
		height: 5em;
		padding-left: 5vw;
		padding-right: 5vw;
		font-size: 0.6em;
		list-style: none;
	}

	#pub-index > li {
		width: 20vw;
		height: 1.75em;
		line-height: 1.75em;
		text-align: center;
		float: left;
	}

	/* Pub Scroll */
	#publications {
		scroll-margin-top: calc(var(--header-height) - 1em);
	}

	#publications > h3 {
		scroll-margin-top: calc(var(--header-height) - 1em);
	}

	/* Dash */
	.dash {
		margin-top: 1em;
		justify-content: space-evenly;
		align-items: center;
	}

	.dash > img {
		width: 40vw;
	}

	.dash > p {
		width: 80vw;
		font-size: 0.6em;
	}
}


/* 适配电脑 */
@media only screen and (min-width: 1025px) {
	.container {
		display: flex;
		box-sizing: border-box;
	}

	#aside {
		width: calc(20em + 40px);
		height: 32em;
		margin-left: 20px;
		margin-right: 20px;
		box-sizing: border-box;
		margin-top: 75px;
		text-align: center;
	}

	#main {
		flex-grow: 1;
		box-sizing: border-box;
		margin-top: 75px;
	}

	/* Aside */
	#aside > img {
		width: 15em;
		margin-left: 2.5em;
		margin-right: 2.5em;
		margin-top: 20px;
		padding-bottom: 1em;
	}

	/* Main */
	#welcome {
		width: 95%;
		padding-right: 5%;
	}

	#publications {
		width: 95%;
		padding-right: 5%;
		padding-top: 20px;
	}

	/* Welcome */
	#welcome > p {
		/*text-indent: 2em;*/
	}

	/* Publications */
	#pub-index {
		list-style: none;
		display: flex;
		width: calc(100% - 2px);
		flex-flow: wrap;
		gap: 20px;
	}

	#pub-index > li {
		display: inline;
	}

	/* Pub Scroll */
	#publications {
		scroll-margin-top: calc(var(--header-height) - 2em);
	}

	#publications > h3 {
		scroll-margin-top: var(--header-height);
	}

	/* Dash */
	.dash {
		padding-left: 1em;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.dash > img {
		width: 30%;
	}

	.dash > p {
		width: 60%;
	}
}

/* 适配其他设备 */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	.container {
		margin-top: calc(var(--header-height) + 1em);
		width: 80vw;
		padding-left: 5vw;
		padding-right: 5vw;
		margin-left: calc(5vw - 1em);
		margin-right: calc(5vw - 1em);
		padding-top: 1em;
		overflow-x: hidden;
	}

	#aside {
		width: 80vw;
		text-align: center;
	}

	#main {
		width: 80vw;
	}

	/* Aside */
	#aside {
		width: 30vw;
		margin-top: 1em;
	}

	#aside > img {
		width: 20vw;
		padding-left: 5vw;
		padding-right: 5vw;
		padding-bottom: 1em;
		float: left;
	}

	#aside > p {
		font-size: 0.85em;
		line-height: 0.5em;
		width: 30vw;
		text-align: center;
		float: left;
	}

	#aside > p > #address {
		display: none;
	}

	/* Main */
	#welcome {
		width: 80vw;
	}

	#publications {
		width: 80vw;
		padding-top: 20px;
	}

	/* Welcome */
	#welcome > p {
		/*text-indent: 2em;*/
	}

	/* Publications */
	#pub-index {
		list-style: none;
		display: flex;
		width: calc(90vw - 2px);
		flex-flow: wrap;
	}

	#pub-index > li {
		width: 10vw;
		height: 1.75em;
		line-height: 1.75em;
		text-align: center;
		float: left;
	}

	/* Pub Scroll */
	#publications {
		scroll-margin-top: var(--header-height);
	}

	#publications > h3 {
		scroll-margin-top: calc(var(--header-height) + 2em);
	}

	/* Dash */
	.dash {
		padding-left: 1em;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.dash > img {
		width: 30%;
	}

	.dash > p {
		width: 60%;
	}
}

/* 通用 */
:root {
	--header-height: 75px;
}

body {
	background-color: #ffffff;
}

/* Reset Tag A */
#aside a {
	color: #0088ff;
	text-decoration: underline;
}

#aside a:visited {
	color: #0088ff;
	text-decoration: underline;
}

/* Welcome Reset Tag A */
#welcome a {
	color: #0088ff;
	text-decoration: underline;
}

#welcome a:visited {
	color: #0088ff;
	text-decoration: underline;
}

a.pub-fold, a.pub-fold:visited {
	color: #0088ff;
	font-size: 0.8em;
	font-weight: normal;
	text-decoration: none;
}

a.pub-fold:hover {
	color: #0088ff;
	text-decoration: #0088ff 2px underline;
}

.dashset {
	display: block;
}

.dash > p > span {
	color: #2222ff;
}

.dash > p a.db, .dash > p a.db:visited {
	color: #2222ff;
	text-decoration: none;
}

.dash > p a.db:hover {
	text-decoration: #2222ff 2px underline;
}

.dash > p a.b, .dash > p a.b:visited {
	color: #0088ff;
}

.dash > p a.r, .dash > p a.r:visited {
	color: #ff2600;
}

/* Publications Reset Tag A */
#publications a:not([class]), #publications a:not([class]):visited {
	color: #0088ff;
	text-decoration: underline;
}

#backTop {
	width: 2.5em;
	height: 2.5em;
	position: fixed;
	bottom: 5vw;
	right: 5vw;
	text-align: center;
	line-height: 1.25em;
	border-radius: 0.5em;
	box-shadow: 0 0 4px #000000a0;
	display: none;
}

#backTop:hover {
	background-color: #aaaaaa80;
}

#toast {
	width: 4.5em;
	height: 2em;
	position: fixed;
	top: 20vh;
	left: 50vw;
	text-align: center;
	line-height: 2em;
	border-radius: 0.5em;
	box-shadow: 0 0 4px #000000a0;
	background-color: #aaaaaaf0;
	color: #2b2b3b;
	transition: opacity 0.3s ease;
	opacity: 0;
}

#toast.show {
	opacity: 1;
}
