body {
	background-color: #c8edf8;
}

/* Navbar */

header {
	top: 0;
	display: flex;
	position: fixed;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
}

header:hover, header.scrolled {
	transition: background-color 0.5s ease;
	background-color: #ffffff;
}

#top-info {
	color: #2b2b3b;
	font-size: 1.5em;
}

#top-list {
	list-style: none;
	display: flex;
	gap: 20px;
}

#top-list > li {
	display: inline;
}

#top-list-other {
	position: relative;
}

#top-list-other > ul {
	position: absolute;
	left: 0;
	top: 150%;
	visibility: hidden;
	padding-left: 0;
	opacity: 0;
	transform: translateY(10px);
	transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

#top-list-other > ul > li {
	white-space: nowrap;
	line-height: 1.75em;
	list-style-type: disc;
}

#top-list-other:hover > ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}


#top-logo > img {
	width: 2em;
	height: 2em;
}


/* Reset Tag A */
header a {
	color: #2b2b3b;
	text-decoration: none;
}

header a:visited {
	color: #2b2b3b;
	text-decoration: none;
}

/* Underline Animation*/
.hover-line {
	position: relative;
}

.hover-line::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 0;
	height: 2px;
	background-color: #2b2b3b;
	transition: width 0.3s ease;
	transform: translateX(-50%);
}

.hover-line:hover::after {
	width: 100%;
}

/* Aside */
#aside {
	width: 20em;
	height: 32em;
	margin-left: 2em;
	background-color: #fff;
	margin-top: 75px;
	float: left;
	text-align: center;
}

#aside > img {
	width: 15em;
	margin-left: 2.5em;
	margin-right: 2.5em;
	margin-top: 20px;
}

/* Reset Tag A */
#aside a {
	color: #0088ff;
	text-decoration: underline;
}

#aside a:visited {
	color: #0088ff;
	text-decoration: underline;
}

/* Main */
#main {
	width: 51em;
	margin-left: 2em;
	padding-left: 1em;
	background-color: #fff;
	margin-top: 75px;
	float: left;
}

/* Reset Tag A */
#main a {
	color: #0088ff;
	text-decoration: underline;
}

#main a:visited {
	color: #0088ff;
	text-decoration: underline;
}
