/* Details */

body {
	background-color: #c8edf8;
}

/* Reset Tag A */
#aside a {
	color: #0088ff;
	text-decoration: underline;
}

#aside a:visited {
	color: #0088ff;
	text-decoration: underline;
}

/* Welcome Reset Tag A */
#welcome a {
	color: #0088ff;
	text-decoration: underline;
}

#welcome a:visited {
	color: #0088ff;
	text-decoration: underline;
}

/* Publications p */
.dash > p > span {
	color: #2222ff;
}

.dash > p a.b, .dash > p a.b:visited {
	color: #0088ff;
}

.dash > p a.r, .dash > p a.r:visited {
	color: #ff2600;
}

/* Publications Reset Tag A */
#publications a:not([class]), #publications a:not([class]):visited {
	color: #0088ff;
	text-decoration: underline;
}
