/* 适配手机 */
@media only screen and (max-width: 768px) {
	header {
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-wrap: wrap;
		position: fixed;
		width: 100vw;
		justify-content: space-evenly;
		align-items: center;
		box-shadow: 0 0 4px #000000a0;
		transition: background-color 0.3s ease;
		background-color: #ffffffe0;
	}

	header.open {
		transition: background-color 0.3s ease;
		background-color: #fffffff0;
	}

	header.open > #nav-list {
		width: 80%;
		padding-left: 10%;
		padding-right: 10%;
		line-height: 1.5em;
		list-style-type: none;
		display: block;
		transition: visibility 0.5s ease;
		visibility: visible;
	}

	header.open > #nav-logo {
		display: block;
		width: 100%;
		padding-left: 10%;
		padding-right: 10%;
	}

	header > span {
		width: calc(20vw - 2px);
		height: 2em;
		border-radius: 0.5em;
		padding-left: 0;
		margin-top: 5px;
		margin-bottom: 5px;
		border: #2b2b3b 2px solid;
		line-height: 2em;
		text-align: center;
	}

	span:active {
		animation: flashBackground 0.3s ease forwards;
	}

	@keyframes flashBackground {
		0% {
			background-color: #00aaffff;
		}
		100% {
			background-color: #00aaff00;
		}
	}

	#nav-info {
		color: #2b2b3b;
		font-size: 1.5em;
	}

	#nav-logo {
		display: none;
	}

	#nav-logo > img {
		width: 2em;
		height: 2em;
	}

	#nav-list {
		display: none;
		visibility: hidden;
	}

	#nav-list > li {
		width: 100%;
		border-top: #2b2b3b 1px solid;
		display: block;
	}

	#nav-list-other {

	}

	#nav-list-other > ul > li {
		border-bottom: #2b2b3b 1px solid;
	}

	/* Reset Tag A */
	header a {
		color: #2b2b3b;
		text-decoration: none;
	}

	header a:visited {
		color: #2b2b3b;
		text-decoration: none;
	}
}

/* 适配电脑 */
@media only screen and (min-width: 1025px) {
	header {
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		position: fixed;
		width: 100vw;
		justify-content: space-evenly;
		align-items: center;
		box-shadow: 0 0 4px #000000a0;
		background-color: #ffffffff;
	}

	header > span {
		display: none;
	}

	#nav-info {
		color: #2b2b3b;
		font-size: 1.5em;
	}

	#nav-list {
		list-style: none;
		display: flex;
		gap: 20px;
	}

	#nav-list > li {
		display: inline;
	}

	#nav-list-other {
		position: relative;
	}

	#nav-list-other > ul {
		position: absolute;
		left: 0;
		top: 150%;
		background-color: #fff;
		visibility: hidden;
		padding-left: 0;
		opacity: 0;
		transform: translateY(10px);
		transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
	}

	#nav-list-other > ul > li {
		white-space: nowrap;
		line-height: 1.75em;
		list-style-type: none;
	}

	#nav-list-other:hover > ul {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}


	#nav-logo > img {
		width: 2em;
		height: 2em;
	}

	/* Underline Animation*/
	.hover-line {
		position: relative;
	}

	.hover-line::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -5px;
		width: 0;
		height: 2px;
		background-color: #2b2b3b;
		transition: width 0.3s ease;
		transform: translateX(-50%);
	}

	.hover-line:hover::after {
		width: 100%;
	}

	/* Reset Tag A */
	header a {
		color: #2b2b3b;
		text-decoration: none;
	}

	header a:visited {
		color: #2b2b3b;
		text-decoration: none;
	}
}

/* 适配其他设备 */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	header {
		top: 0;
		left: 0;
		right: 0;
		display: flex;
		position: fixed;
		width: 100vw;
		justify-content: space-evenly;
		align-items: center;
		box-shadow: 0 0 4px #000000a0;
		background-color: #ffffffff;
	}

	header > span {
		display: none;
	}

	#nav-info {
		color: #2b2b3b;
		font-size: 1.5em;
		min-width: 10em;
		text-align: center;
	}

	#nav-list {
		list-style: none;
		display: flex;
		gap: 20px;
	}

	#nav-list > li {
		display: inline;
		text-align: center;
	}

	#nav-list-other {
		position: relative;
	}

	#nav-list-other > ul {
		position: absolute;
		left: 0;
		top: 150%;
		background-color: #fff;
		visibility: hidden;
		padding-left: 0;
		opacity: 0;
		transform: translateY(10px);
		transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
	}

	#nav-list-other > ul > li {
		white-space: nowrap;
		line-height: 1.75em;
		list-style-type: none;
	}

	#nav-list-other:hover > ul {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}


	#nav-logo > img {
		width: 2em;
		height: 2em;
	}

	/* Underline Animation*/
	.hover-line {
		position: relative;
	}

	.hover-line::after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -5px;
		width: 0;
		height: 2px;
		background-color: #2b2b3b;
		transition: width 0.3s ease;
		transform: translateX(-50%);
	}

	.hover-line:hover::after {
		width: 100%;
	}

	/* Reset Tag A */
	header a {
		color: #2b2b3b;
		text-decoration: none;
	}

	header a:visited {
		color: #2b2b3b;
		text-decoration: none;
	}
}

/* 通用 */
header {
	z-index: 999;
}